$colors: (
  text: #0f0f0f,
  background: #f2f2f2,
  primary: #222f3f,
  secondary: #e3e3e3,
  accent: #7e7d7c,
);

/*  text: #00060a,
      background: #f0f9ff,
      primary: #8fd6ff,
      secondary: #aee1ff,
      accent: #018edf,
  */
