.header {
  background: url("./header.avif") 0% 86%;
  font-size: 2rem;
  padding: 1rem;
  grid-template-columns: 3fr repeat(4, 1fr);
}

.header > nav {
  grid-template-columns: subgrid;
  grid-column: 2/5;
  place-items: center;
}

.tab-header {
  font-size: 1.5rem;
  appearance: none;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}
