@import url(https://fonts.bunny.net/css?family=playfair-display:400,400i,500,500i,600,600i,700,700i);
@use "colors.scss" as *;

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@each $name, $color in $colors {
  @if ($name != "text") {
    .bg-#{$name} {
      background-color: var(--#{$name});
    }
  }
  @if ($name != "background") {
    .color-#{$name} {
      background-color: var(--#{$name});
    }
  }
}

$weights: 400, 500, 700, 900;
@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

.italic {
  font-style: italic;
}
