@use "styles/colors.scss" as *;
@use "styles/font-classes.scss";
@use "styles/header.scss";
@use "styles/about.scss";
@import url(https://fonts.bunny.net/css?family=playfair-display:400,400i,500,500i,600,600i,700,700i|source-sans-pro:400,400i,600,600i,700,700i);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@each $name, $color in $colors {
  @if ($name != "text") {
    .bg-#{$name} {
      background-color: var(--#{$name});
    }
  }
  .color-#{$name} {
    color: var(--#{$name});
  }
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.grid {
  display: grid;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
  padding: 0.5rem;
}

.main {
  padding-block: 1rem;
  margin: auto;
}
